@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
--false-black: #1D293F;
--hind: "Hind", sans-serif;
--helvetica: "Helvetica", "Roboto", sans-serif;
--arial: "Arial", "Roboto", sans-serif;
--green-enjoy: #B3CF42;
--grey: #7C8087;
--roboto: "Roboto", sans-serif;
--avenir: "Avenir", "Montserrat", sans-serif;
--circular: "Circular Std", "DM Sans", sans-serif;
--not-so-white: #fcfcfc;
--margin: 120px;
}
.noscrollbar, html {
-ms-overflow-style: none;
scrollbar-width: none;
}
.noscrollbar::-webkit-scrollbar, html::-webkit-scrollbar {
display: none;
}
*{
margin: 0;
padding: 0;
cursor: default;
}
a{
cursor: pointer;
}
header{
width: 100vw;
box-sizing: border-box;
padding: 56px var(--margin) 20px;
display:flex;
justify-content: space-between;
align-items: center;
}
header img{
height: 100%;
max-height:60px;
width: auto;
cursor: pointer;
}
header nav {
height: 100%;
display: flex;
align-items: center;
}
header nav a {
color: var(--false-black);
text-decoration: none;
font-family: var(--hind);
font-weight: 500;
font-size: 18px;
line-height: 29px;
border-radius: 10px !important;
}
header nav a:first-child {
margin-right: 52px;
}
header nav a:nth-child(2) {
margin-right: 72px;
}
a.demo {
display: inline-block;
min-height: 60px;
box-sizing: border-box;
padding: 15px 32px;
color: white;
text-decoration: none;
font-weight: 700;
font-size: 18px;
line-height: 29px;
letter-spacing: var(--px);
background-color: var(--green-enjoy);
border-radius: 4px;
text-align: center;
}
main section {
padding: 0 var(--margin);
box-sizing: border-box;
width: 100vw;
overflow: hidden;
}
.hero {
padding: 100px 0px 200px var(--margin);
display: flex;
justify-content: space-between;
}
.hero .text {
font-family: var(--helvetica);
margin-right: 100px;
}
.hero .text h1 {
font-size: 50px;
line-height: 62px;
font-weight: 700;
color: var(--false-black);
margin-bottom: 44px;
}
.hero .text h3 {
font-size: 24px;
line-height: 28px;
font-size: 700;
color: var(--false-black);
margin-bottom: 12px;
}
.hero .text h5 {
font-weight: 300;
font-size: 24px;
line-height: 32px;
color: var(--false-black);
margin-bottom: 64px;
}
.hero .text h5 b {
font-weight: 400;
}
.hero img{
max-height: 75vh;
width: 50vw;
}
.customer {
margin-bottom: 80px;
overflow:scroll;
}
.sect-2 {
padding: 100px 0px 160px var(--margin);
display: flex;
justify-content: space-between;
}
.sect-2 .text, .sect-3 .text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
max-width: 435px;
}
.sect-2 .text h2,
.sect-3 .text h2,
.sect-4 .text h2 ,
.sect-5 h2 ,
.sect-6 h2,
.sect-7 .text h2,
.sect-8 h2,
.sect-9 .title h2,
.sect-10 .text h2,
.sect-11 h2 {
font-weight: 700;
font-size: 44px;
line-height: 56px;
letter-spacing: -0.827586px;
color: var(--false-black);
font-family: var(--roboto);
margin-bottom: 36px;
}
.sect-2 .text p, .sect-3 .text p, .sect-4 .text p {
font-family: var(--arial);
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: var(--grey);
margin-bottom: 36px;
}
.sect-2 .text .list {
display: grid;
grid-template-columns: 60px auto;
align-items: center;
grid-auto-rows: 60px;
gap: 16px 18px;
}
.sect-2 .text .list img {
height: 60px;
width: 60px;
}
.sect-2 .text .list h6 {
font-family: var(--hind);
font-weight: 500;
font-size: 24px;
line-height: 34px;
color: false-black;
}
.sect-2 img{
max-height: 75vh;
width: 55vw;
}
.sect-3 {
padding: 0px var(--margin) 160px 0px;
display: flex;
justify-content: flex-start;
align-items: center;
}
.sect-3 .text {
margin-left: 56px;
}
.sect-3 .text .demo {
font-family: var(--helvetica);
}
.sect-3 img {
object-fit: contain;
width: 50vw;
max-height: 90vh;
object-position: left center;
}
.sect-4{
padding: 0 var(--margin) 120px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index:2;
background-color: white;
}
.sect-4 .text{
text-align: right;
margin-right: 80px;
width: 435px;
}
.sect-4 .text h2 {
margin-bottom: 36px;
}
.sect-4 .text p b {
font-weight: 700;
}
.sect-4 .grid {
width: calc(50% - 40px);
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 30px 60px;
}
.sect-4 .grid div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: white;
border-radius: 10px;
padding: 65px 0px 40px;
box-sizing: border-box;
border: 0.995104px solid #E8E8E8;
transition-duration: .1s;
}
.sect-4 .grid div img{
height: 90px;
margin-bottom: 48px;
}
.sect-4 .grid div h6{
font-family: var(--avenir);
font-weight: 400;
font-size: 19.9021px;
line-height: 27px;
color: var(--false-black);
text-align:center;
transition-duration: .1s;
}
.sect-4 .grid:not(:hover) div:first-child,
.sect-4 .grid div:hover
{
transition-duration: .4s;
box-shadow: 0px 31.8433px 83.5887px rgba(166, 166, 166, 0.192772);
border-color: white;
}
.sect-4 .grid:not(:hover) div:first-child h6,
.sect-4 .grid div:hover h6
{
transition-duration: .2s;
font-weight: 600;
}
.sect-5 {
position: relative;
margin-bottom: 200px;
padding: 150px var(--margin) 200px;
z-index: 1;
box-shadow: 0px 0px 100px 100px rgb(0, 0, 0, .03);
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
}
.sect-5 h2 {
margin-bottom: 118px;
text-align: center;
}
.sect-5 .grid-pattern{
position: absolute;
}
.sect-5 .grid-pattern:first-of-type{
top: 380px;
left: -110px;
}
.sect-5 .grid-pattern:last-of-type{
bottom: 200px;
right: -120px;
}
.sect-5 .zarbi {
width: 800px;
height: 750px;
position: relative;
}
.sect-5 .zarbi > div {
width: 250px;
position: absolute;
}
.sect-5 .zarbi > div:nth-child(1) {
top: 0;
left: 0
}
.sect-5 .zarbi > div:nth-child(2) {
top: 100px;
right: 100px;
}
.sect-5 .zarbi > div:nth-child(3) {
left: 80px;
bottom: 150px;
}
.sect-5 .zarbi > div:nth-child(4) {
right: 0;
bottom: 0;
}
.sect-5 .zarbi > div img {
width: 80px;
height: 80px;
margin-bottom: 20px;
background: #B2CE51;
box-shadow: 0px 27.7126px 46.7649px rgba(178, 206, 81, 0.2);
border-radius: 8.66018px;
margin-left: 50px;
}
.sect-5 .zarbi > div h4 {
font-family: var(--roboto);
font-weight: 700;
font-size: 20px;
line-height: 29px;
color: var(--flase-black);
}
.sect-5 .zarbi > div p {
font-family: var(--arial);
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #7C8087;
}
.sect-5 .zarbi .arrow {
position: absolute;
width: 200px;
}
.sect-5 .zarbi .arrow:nth-of-type(1) {
top: 0;
left: 225px;
}
.sect-5 .zarbi .arrow:nth-of-type(2) {
top: 225px;
right: 350px;
}
.sect-5 .zarbi .arrow:nth-of-type(3) {
bottom: 150px;
left: 350px;
}
.sect-6 {
padding: 50px var(--margin) 200px;
}
.sect-6 h2 {
margin-bottom: 8px;
}
.sect-6 .row {
display:flex;
}
.sect-6 .row > div {
min-height: 450px;
max-height: 600px;
flex-shrink: 1;
width: 25%;
margin-right: 24px;
display: flex;
flex-direction: column;
align-items: center;
}
.sect-6 .row > div:last-child {
flex-shrink: 0;
width: 28%;
margin-right: 0;
margin-left: 0px;
background-color: var(--green-enjoy);
border-radius: 10px;
padding: 40px 50px;
box-sizing: border-box;
}
.sect-6 .row > div img {
width: 72px;
height: 100%;
flex-shrink: 1;
object-fit: contain;
object-position: center bottom;
}
.sect-6 .row > div > div {
height: 50%;
flex-shrink:0;
display: flex;
flex-direction: column;
align-items:center;
}
.sect-6 .row > div > div h6 {
margin-bottom: 8px;
font-family: var(--hind);
font-weight: 700;
font-size: 21px;
line-height: 34px;
color: var(--false-black);
text-align:center;
width: max-content;
}
.sect-6 .row > div > div p {
width: 200px;
margin-bottom: 8px;
font-family: var(--hind);
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: var(--grey);
}
.sect-6 .row > div:last-child > div p {
width: unset;
color : white;
}
.sect-6 .row > div:last-child > div h6{
color: white;
}
.sect-7 {
padding: 80px var(--margin) 200px;
position: relative;
display:flex;
align-items:center;
}
.sect-7 > img:not(.grid-pattern) {
height: 100%;
width: auto;
max-width: 50%;
margin-left: 50px;
position: relative;
z-index: 1;
}
.sect-7 .grid-pattern {
position: absolute;
bottom: 280px;
left: var(--margin);
z-index: 0;
}
.sect-7 .text {
margin-left: 130px;
width: min-content;
}
.sect-7 .text h2 {
margin-bottom: 52px;
width: max-content;
padding-right: 24px;
}
.sect-7 .text .stack {
display:flex;
flex-direction: column;

}
.sect-7 .text .stack div{
width: 100%;
display:flex;
align-items:center;
margin-bottom: 44px;
}
.sect-7 .text .stack div img{
height: 82px;
width: 82px;
margin-right: 32px;
}
.sect-7 .text .stack div span h6{
font-family: var(--hind);
font-weight: 600;
font-size: 21px;
line-height: 34px;
color: var(--false-black);
}
.sect-7 .text .stack div span p {
font-family: var(--hind);
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: var(--grey);
}
.sect-8 {
padding: 120px var(--margin);
display:flex;
flex-direction: column;
align-items: center;
position: relative;
}
.sect-8 h2 {
text-align: center
}
.green {
color: var(--green-enjoy);
}
.sect-8 .arrows {
margin-bottom: 32px;
}
.sect-8 .arrows img {
height: 150px;
width: 150px;
margin-right: 100px;
}
.sect-8 .arrows img:last-child{
margin-right: 0;
}
.sect-8 .columns {
display: grid;
grid-template-columns: repeat(3, 330px);
grid-auto-rows: 60px;
gap: 20px 100px;
margin-bottom: 36px;
}
.sect-8 .columns h4 {
display:flex;
justify-content: center;
align-items: center;
font-family: var(--hind);
font-weight: 700;
font-size: 21px;
line-height: 34px;
color: var(--false-black);
}
.sect-8 .columns span:not(.empty) {
padding : 12px;
border-radius: 2px;
background-color:white;
box-shadow: 0px 3px 8px rgba(183, 183, 183, 0.165308);
text-align: center;
font-family: var(--hind);
font-weight: 400;
font-size: 18px;
line-height: 34px;
color: var(--false-black);
}
.sect-8 .arrow {
height: 70px;
width: 70px;
margin-bottom: 32px;
}
.sect-8 .demo {
width: 330px;
font-family: var(--helvetica);
}
.sect-8 .grid-pattern{
position: absolute;
top: 50%;
left: -120px;
z-index: -1;
}
.sect-8 .grid-pattern:last-of-type{
right: -120px;
left: unset;
}
.sect-9 {
padding: 140px var(--margin);
}
.sect-9 .title {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 56px;
}
.sect-9 .title h2 {
margin-bottom: 0;
}
.sect-9 .title img {
width: 75px;
height: 75px;
}
.sect-9 .row {
display: flex;
margin-bottom: 56px;
}
.sect-9 .row div {
padding: 28px;
background: #FFFFFF;
border: 1px solid #E2E4E8;
box-sizing: border-box;
border-radius: 10px;
margin-right: 30px;
width: 350px;
flex-shrink: 0;
}
.sect-9 .row div img{
margin-bottom: 24px;
height: 49px;
width: 48px;
border-radius: 50%;
}
.sect-9 .row div p{
margin-bottom: 12px;
font-family: var(--circular);
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: var(--false-black);
}
.sect-9 .row div span{
font-family: var(--circular);
font-weight: 700;
font-size: 18px;
line-height: 32px;
color: var(--false-black);
}
.sect-9 .sub-row,
.sect-11 .sub-row {
display: flex;
justify-content: space-between;
align-items: center;
}
.sect-9 .sub-row .pagination,
.sect-11 .sub-row .pagination {
display: flex;
}
.sect-9 .sub-row .pagination div,
.sect-11 .sub-row .pagination div {
height: 4px;
width: 30px;
background-color: #E2E4E8;
margin-right: 20px;
border-radius: 2px;
}
.sect-9 .sub-row .pagination div.activated,
.sect-11 .sub-row .pagination div.activated {
background-color: var(--green-enjoy);
}
.sect-9 .sub-row .arrows,
.sect-11 .sub-row .arrows{
display:flex;
}
.sect-9 .sub-row .arrows img,
.sect-11 .sub-row .arrows img{
height: 24px;
margin-left: 40px;
cursor: pointer;
}
.sect-10 {
padding: 80px var(--margin) 220px;
position: relative;
}
.sect-10 img {
width: 100%;
}
.sect-10 .text {
position: absolute;
top: 80px;
bottom: 220px;
left: var(--margin);
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-start;
padding-left: var(--margin);
}
.sect-10 .text h2 {
color: white;
margin-bottom: 48px;
}
.sect-10 .text .demo {
color: var(--green-enjoy);
font-family: var(--helvetica);
background-color:white;
}
.sect-11 {
background-color: var(--not-so-white);
padding: 124px calc(var(--margin) + 40px);
}
.sect-11 h2{
margin-bottom: 68px;
margin-left: 24px;
}
.sect-11 .grid-row {
display:grid;
grid-template-rows: repeat(2, 180px);
grid-auto-columns: 540px;
grid-auto-flow: column;
gap: 30px;
margin-bottom: 56px;
}
.sect-11 .grid-row > div{
display: flex;
padding: 36px;
background: white;
box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.165308);
border-radius: 2px;
align-items:center;
}
.sect-11 .grid-row > div img {
height: 108px;
width: 108px;
margin-right: 36px;
border-radius: 2px;
}
.sect-11 .grid-row > div > div {
display: flex;
flex-direction:column;
align-items:flex-start;
}
.sect-11 .grid-row > div > div h4 {
font-family: var(--circular);
font-weight: 500;
font-size: 24px;
line-height: 34px;
color: var(--false-black);
margin-bottom: 16px;
}
.sect-11 .grid-row > div > div span {
color: #8C97AC;
font-family: var(--circular);
font-weight: 500;
font-size: 13px;
line-height: 16px;
display:flex;
align-items:center;
}
.sect-11 .grid-row > div > div span img {
width: 12px;
height: 12px;
margin-right: 12px;
position: relative;
top: -1px;
}
.sect-11 .sub-row {
margin-left: 24px;
}
footer {
padding: 0 var(--margin) 80px;
background-color: var(--not-so-white);
}
footer .separator {
width: 100%;
background-color: var(--green-enjoy);
border-radius: 1px;
height: 1px;
opacity: .35;
margin-bottom: 180px;
}
footer .text {
margin: 0 40px;
}
footer .text .row {
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 100px;
}
footer .text .row div img {
width: 60px;
margin-bottom: 40px;
}
footer .text .row div p {
font-family: var(--circular);
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #7C8087;
max-width: 300px;
}
footer .text .row nav {
display: flex;
flex-direction: column;
}
footer .text .row nav h4 {
font-family: var(--circular);
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: var(--false-black);
margin-bottom: 32px;
}
footer .text .row nav a {
font-family: var(--circular);
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #7C8087;
text-decoration: none;
}
footer .text span {
font-family: var(--circular);
font-weight: 400;
font-size: 13px;
line-height: 28px;
color: #7C8087;
}
footer .text span a {
text-decoration: none;
color: #7C8087;
}
